<div class="paper">
  <div class="blue-lines">
    <h1 class="h1">New Session</h1>
    <div class="new-sess-form">
      <%= render 'form', session: @session %>
      <%= link_to 'Back to Stopwatch', sessions_path, class: "btn-link" %>
    </div>
  </div>
  <div class="holes hole-top"></div>
  <div class="holes hole-middle"></div>
  <div class="holes hole-bottom"></div>
</div>