/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Gochi+Hand&display=swap');
.all {
    width: 50%;
}

.title {
    font-family: 'Josefin Slab', serif;
    font-size: x-large;
    font-weight: 900;
    color: #a67780;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paper {
    width: 50%;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 5px 0px #888;
}

.paper::before {
    content: '';
    position: absolute;
    left: 350px;
    height: 560px;
    width: 2px;
    background: rgba(255,0,0,0.4);
}

.blue-lines {
    margin-top: 60px;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
    height: 500px;
}

.holes {
    position: absolute;
    left: 310px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e7dadc;
    box-shadow: 0px 0px 3px 0px #888;
}

.hole-top {
    top: 10%;
}

.hole-middle {
    bottom: 50%;
}

.hole-bottom {
    bottom: 15%;
}

.button {
    color: #20312c;
}

body {
    background-color: #e7dadc;
    display: flex;
    justify-content: center;
}

h1 {
    color: #20312c;
    font-family: 'Caveat', cursive;
    padding-left: 60px;
}

.button-align {
    padding-left: 30px;
}

p {
    color: #20312c;
    padding-left: 30px;
    font-family: 'Gochi Hand', cursive;
}

.new-sess-form {
    color: #20312c;
    font-family: 'Caveat', cursive;
    padding-left: 60px;
    line-height: 18px;
}

th {
    color: #20312c;
    font-family: 'Gochi Hand', cursive;
}

td {
    color: #20312c;
    font-family: 'Gochi Hand', cursive;
}

.top {
    background-color: #b6cdc6;
    border-radius: 15px;
    padding: 30px 20px 30px;
    margin-bottom: 20px;
}

.cover {
    max-width: 800px;
    max-height: 800px;
    background: #a67780;
    border-radius: 16px;
    padding: 3px 3px 3px;
    /*top left/right bottom*/
}

.bujo-dotgrid {
    /*height: 100%;*/
    border-radius: 16px;
    background: linear-gradient(90deg, #f4f1de 15px, transparent 1%) center,
    linear-gradient(#f4f1de 15px, transparent 1%) center, #ccc;
    background-size: 16px 16px;
    /*display: grid;*/
}

/*bujo binding and historical sessions*/
.binding {
    content: "";
    background: linear-gradient(
            to right,
            transparent 10%,
            rgba(153, 153, 153, 0.05) 50%,
            rgba(153, 153, 153, 0.4) 51%,
            rgba(153, 153, 153, 0.15) 51.5%,
            transparent 90%
    );
    padding: 20px 20px 20px;
}

/*.bujo-dotgrid::after {*/
/*    max-width: 800px;*/
/*    max-height: 800px;*/
/*    background: hotpink;*/
/*}*/

.tabs {
    position: absolute;
    left: 800px;
    height: 10px;
    width: 16px;
    /*box-shadow: 0px 10px 2px 10px #888;*/
}

.tab-top {
    top: 50%;
    background: #e9c46a;
}

.tab-middle {
    top: 54%;
    background: #e76f51;
    left: 808px;
    height: 10px;
    width: 8px;

}

.tab-bottom {
    top: 58%;
    background: #118ab2;
    left: 808px;
    height: 10px;
    width: 8px;

}
