/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*selector {*/
/*    property: value; */
/*    rule: CSS-function(values);*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Slab:ital,wght@1,700&family=Sansita+Swashed:wght@800&display=swap');

.all {
    width: 50%;
}

.title {
    font-family: 'Josefin Slab', serif;
    font-size: large;
    color: #a67780;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paper {
    width: 50%;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 5px 0px #888;
}

.paper::before {
    content: '';
    position: absolute;
    left: 350px;
    height: 560px;
    width: 2px;
    background: rgba(255,0,0,0.4);
}

.blue-lines {
    margin-top: 60px;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
    height: 500px;
}

.holes {
    position: absolute;
    left: 310px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #e7dadc;
    box-shadow: 0px 0px 3px 0px #888;
}

.hole-top {
    top: 10%;
}

.hole-middle {
    bottom: 50%;
}

.hole-bottom {
    bottom: 15%;
}

/** {*/
/*    border: 1px solid hotpink;*/
/*}*/

.button {
    color: chartreuse;
}

body {
    background-color: #e7dadc;
    display: flex;
    justify-content: center;
}

h1 {
    color: #20312c;
    font-family: 'Caveat', cursive;
    padding-left: 60px;
}

p {
    color: #20312c;
}

.new-sess-form {
    color: #20312c;
    font-family: 'Caveat', cursive;
    padding-left: 60px;
    line-height: 18px;
}

tr {
    color: #20312c;
}

.top {
    background-color: #b6cdc6;
    border-radius: 15px;
    padding: 10px;
}

.bottom {
    background-color: #f4f1de;
    border-radius: 15px;
    padding: 10px;
}